#rso div p, #Odp5De p {
  display: inline-block;
  text-decoration: none !important;
  color: #aaa !important;
  padding: 2px 15px;
  margin-left: 520px !important;
  border-radius: 4px;
  white-space: nowrap;
  background-color: #b93d3d;
}

#rso > div > div:not([class], [data-hveid]) {
  color: #fff !important;
  background-color: #b93d3d !important;
  width: 600px;
}

#rso > div > div:not([class], [data-hveid]) .cancleBlock {
  color: #a6dbff !important;
}

a h3 {
  color: #71b9e9 !important;
}

a:visited h3 {
  color: #bc97df !important;
}
